.footer {
}

.footer {
  background-color: #2b2d42;
  width: 100%;
  color: #fff;

  // .footer__main
  &__main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  // .footer__info
  &__info {
    // flex: 0 1 200px;
    // min-width: 200px;
    max-width: 300px;
    @media (max-width: $md3+px) {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
    }
  }
  // .footer__catalog
  &__catalog {
    padding: 0 15px;
    // flex: 1 1 200px;
    max-width: 300px;
    @media (max-width: $md3+px) {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
    }
  }
  // .footer__news
  &__news {
    padding: 0 15px;
    // flex: 1 1 150px;
    // max-width: 200px;
    @media (max-width: $md3+px) {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
    }
  }
  // .footer__storage
  &__storage {
    padding: 0 15px;
    max-width: 300px;
    @media (max-width: $md3+px) {
      max-width: 100%;
      width: 100%;
      margin: 0px auto;
    }
  }
  // .footer__bottom
  &__bottom {
  }
}

.info-footer {
  display: flex;
  flex-direction: column;

  // align-items: center;
  // .info-footer__logo
  &__logo {
    margin-bottom: 25px;
    @media (max-width: $md3+px) {
      margin-bottom: 10px;
    }
  }
  // .info-footer__text
  &__text {
    // font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    margin-bottom: 20px;
    @media (max-width: $md3+px) {
      margin-bottom: 10px;
    }
  }
  // .info-footer__socials
  &__socials {
    a {
      margin-right: 20px;
    }
  }
}
.catalog-footer {
  // .catalog-footer__title
  &__title {
    padding-top: 15px;
    line-height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
  }
  // .catalog-footer__content
  &__content {
  }
}
.footer-catalog-list {
  // .footer-catalog-list__list
  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  // .footer-catalog-list__item
  &__item {
    border: 0.5px solid #ffffff;
    padding: 5px 6px;
    margin-left: 5px;
    margin-bottom: 5px;
    transition: all 0.3s ease 0s;
    a {
      color: #fff;
      &:hover {
        color: #2b2d42;
      }
    }
    &:hover {
      background-color: #fff;
    }
  }
}
.news-footer {
  // .news-footer__title
  &__title {
    white-space: nowrap;
    padding-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
    @media (max-width: $md3+px) {
      padding-top: 25px;
      margin-bottom: 15px;
    }
  }
  // .news-footer__content
  &__content {
  }
}
.footer-news {
  // .footer-news__item
  a {
    color: #fff;
  }
  &__item {
    display: flex;

    // justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  // .footer-news__date
  &__date {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 0.5px solid #fff;
    width: 38px;
    height: 38px;
    transition: all 0.3s ease 0s;
  }
  // .footer-news__text
  &__text {
    padding-left: 10px;
  }
}
.storage-footer {
  // .storage-footer__title
  &__title {
    padding-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 25px;
    @media (max-width: $md3+px) {
      padding-top: 25px;
      margin-bottom: 15px;
    }
  }
  // .storage-footer__content
  &__content {
  }
}
.footer-storage {
  // .footer-storage__item
  &__item {
    margin-bottom: 12px;
    position: relative;
    padding-left: 15px;
    &:after {
      padding-left: 15px;
      content: '';
      background-image: url(../img/footer-point.png);
      background-repeat: no-repeat;
      left: -5px;
      top: 0;
      width: 11px;
      height: 16px;
      position: absolute;
    }
  }
}
.bottom-footer {
  text-align: center;
  border: 1px solid #383f51;
  background-color: #383f51;

  ._container {
  }
  // .bottom-footer__block
  &__block {
    display: flex;
    background-color: #2b2d42;
    max-width: 1058px;
    margin: 0px auto;
    justify-content: space-around;
    // padding: 17px 15px 16px;
    margin-top: 40px;
    margin-bottom: 10px;
    @media (max-width: $md3+px) {
      flex-direction: column;
      margin-top: 20px;
    }
  }
  // .bottom-footer__order
  &__order {
    cursor: pointer;
    flex: 0 1 33.333%;
    // font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #ffffff;
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }
  // .bottom-footer__phone
  &__phone {
    // font-family: Nunito Sans;
    flex: 0 1 33.333%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #ff5e66;
    height: 100%;
    line-height: 25px;
    color: #ffffff;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }
  // .bottom-footer__adres
  &__adres {
    cursor: pointer;
    flex: 0 1 33.333%;
    // font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 25px;
    /* identical to box height */
    color: #ffffff;
    @media (max-width: $md2+px) {
      font-size: 14px;
    }
  }
  // .bottom-footer__copy
  &__copy {
    text-align: center;
    margin-bottom: 10px;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
